* {
  font-family: HelveticaNeue;
  color: #C2E0D1;
}

body{
  background-color: #48705C;
}


#navbar {
  z-index: 9999;
  position: fixed;
  opacity: 1;
  border: #616C66 1px solid;
  background-color: #2E483B;
  height: 50px;
  width: 105%;
  top: -3px;
  left: -2px;
}

#navbar ul {
  display: inline;
}

#nav_logo {
  position: absolute;
  padding: 5px;
  height: 30px;
  width: 50px;
  left: 20px;
  top: 0px;
}


#nav_logo img {
  width: 100%;
  margin-top: -8px;
}

#navbar li {
  display: inline-block;
  padding-top: 15px;
}

#navbar li:hover {
  color: #EDF6F1;
}

#nav_left {
  margin-left: 50px;
}

#nav_left  li {
  padding-right: 10px;
}

#nav_right li {
  float: right;
  margin-right: 80px
}

#left, #right, #container {
  position: relative;
  top: 60px;
}

#right {
  position: fixed;
  float: right;
  right: 12px;
  width: 100px;
  height: 100%;
  top: 70px;
}

#left {
  float: left;
  width: 80px;
}

#container {
  left: 80px;
  width: 70%;
  padding-bottom: 30px;
}
#container a{
  text-decoration: none;
  color: #99D6D6;
}

#container p {
  line-height: 23px;
}

#container li {
  line-height: 23px;
}

.share {
  width: 100px;
  height: 100px;
  opacity: 0.5;
  margin-top: 30px;
}

.share:hover {
  opacity: 0.7;
}

.nav_this_page {
  font-weight: bold;
  color: #EDF6F1;
}
